:root{
    --azul: #1e2438;
    --negro: #000;
    --blanco: #fff;
    --fuentePrincipal:'Roboto Condensed', sans-serif;

}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
   background:linear-gradient(to  top, #000 , #1e2438 )fixed;
  
}
/*logo*/
.logo{
    background-image: url(../Images/final.jpg);
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*formulario*/
.formulario{
    display: grid;
    text-align: center;
    margin: 0;
    width: 320px;
    height: 420px;
    background: black;
    color: #fff;
    top: 78%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 1rem;
} 
.formulario__img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    padding: 5px;
  }
.formulario__input{
    border: none;
    border-bottom: 1px solid var(--blanco);
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 20px;
    padding: 5px;

}
.formulario__campo{
    border: none;
    border-bottom:  1px solid var(--blanco);
    background: var(--negro);
    outline: none;
    height: 40px;
    color: var(--blanco);
    font-size: 2.3rem;
    padding: 5px;
    cursor: pointer;
}

 
.formulario__a{
    text-decoration: none;
    color: var(--blanco);
    font-size: 25px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    padding: 0.5rem;
    
}
.formulario__a:hover{
    color: #09CDD6;
}




